---
http_interactions:
- request:
    method: get
    uri: https://service.cse-cargo.ru/JSONWebService.asmx/Tracking?documentType=order&login=login&number=12312313&numberType=internalnumber&password=123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documents":[{"number":"12312313","clientNumber":"","name":"","packages":null,"deletionMark":false,"lastEventDateTime":"\/Date(-62135596800000)\/","lastEventDateTimeISO":null,"lastEventState":"","lastEventStateCode":null,"lastEventName":"","lastEventComment":"","deliveryDateTime":null,"deliveryDateTimeISO":null,"recipient":"","history":null,"error":true,"errorInfo":"04020\n"}],"error":false,"errorInfo":""}'
  recorded_at: Tue, 23 Dec 2014 15:07:50 GMT
recorded_with: VCR 2.9.3
