---
http_interactions:
- request:
    method: get
    uri: http://postabot.ru/tr/tracker2.php?carrier=ems&track-number=12312313
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <response>
        <track_number id="12312313" carrier="EMS">
        <count>0</count>
        <items>
        </items>
        </track_number>
        </response>
  recorded_at: Wed, 08 Apr 2015 14:16:36 GMT
recorded_with: VCR 2.9.3
