---
http_interactions:
- request:
    method: post
    uri: https://chatapi.viber.com/pa/send_message
    body:
      encoding: UTF-8
      string: '{"type":"text","text":"Добро пожаловать в kiiiosk!\nВыберите магазин","auth_token":"viber_auth_token","receiver":"123"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":2,"status_message":"invalidAuthToken"}'
  recorded_at: Mon, 22 May 2017 00:24:39 GMT
- request:
    method: post
    uri: https://chatapi.viber.com/pa/send_message
    body:
      encoding: UTF-8
      string: '{"keyboard":{"Type":"keyboard","Buttons":[{"Columns":2,"Rows":2,"Text":"\u003cfont
        color=\"#ffffff\"\u003e\u003cb\u003eСахарок\u003c/b\u003e\u003c/font\u003e","TextSize":"large","TextHAlign":"center","TextVAlign":"center","ActionType":"reply","ActionBody":"categories-68","Image":"http://kiiiosk.ru/viber/saharok.png"},{"Columns":2,"Rows":2,"Text":"\u003cfont
        color=\"#ffffff\"\u003e\u003cb\u003eWANNA?BE!\u003c/b\u003e\u003c/font\u003e","TextSize":"large","TextHAlign":"center","TextVAlign":"center","ActionType":"reply","ActionBody":"categories-5","Image":"http://kiiiosk.ru/viber/wannabe.png"},{"Columns":2,"Rows":2,"Text":"\u003cfont
        color=\"#ffffff\"\u003e\u003cb\u003e365 detox\u003c/b\u003e\u003c/font\u003e","TextSize":"large","TextHAlign":"center","TextVA[...]
[...]
- request:
    method: post
    uri: https://chatapi.viber.com/pa/send_message
    body:
      encoding: UTF-8
      string: '{"type":"text","text":"Wannabe..\nКакие товары вас интересуют?","keyboard":{"Type":"keyboard","Buttons":[{"Columns":2,"Rows":2,"Text":"\u003cfont
        color=\"#494E67\"\u003e\u003cb\u003ename1\u003c/b\u003e\u003c/font\u003e","TextSize":"large","TextHAlign":"center","TextVAlign":"center","ActionType":"reply","ActionBody":"goods-2","BgColor":"#f6f5f9"},{"Columns":2,"Rows":2,"Text":"\u003cfont
        color=\\\"#494E67\\\"\u003e\u003cb\u003eНазад\u003c/b\u003e\u003c/font\u003e","TextSize":"large","TextHAlign":"center","TextVAlign":"center","ActionType":"reply","ActionBody":"back-shops","BgColor":"#f6f5f9"}]},"auth_token":"viber_auth_token","receiver":"123"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":2,"status_message":"invalidAuthToken"}'
  recorded_at: Mon, 22 May 2017 00:24:42 GMT
[...]
- request:
    method: post
    uri: https://chatapi.viber.com/pa/send_message
    body:
      encoding: UTF-8
      string: '{"type":"picture","text":"Купить http://company11495412677.ru:3000/products/1-product_title1","media":null,"auth_token":"viber_auth_token","receiver":"123"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":2,"status_message":"invalidAuthToken"}'
  recorded_at: Mon, 22 May 2017 00:24:48 GMT
[...]
